{% extends "modeladmin/index.html" %}
{% block header_extra %}
  <style>
    .field-csv_file {
      max-width: 300px;
    }
  </style>
  {#  Upload CSV file  #}
  <form id="uploadCSV" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="csv_file">Upload CSV file:</label>
    <input class="field-csv_file" type="file" name="csv_file" id="csv_file" accept=".csv">
    <button type="submit">Upload</button>
  </form>
  <script>
    $('#uploadCSV').on('submit', function (event) {
      event.preventDefault();

      var formData = new FormData(this);

      $.ajax({
        url: '/api/ticket/ticket_register_detail/upload_csv',
        type: 'POST',
        data: formData,
        contentType: false,
        processData: false,
        success: function (response) {
          alert('上傳成功，請等待處理。');
        },
        error: function () {
          alert('上傳失敗，請重試或聯絡管理員。');
        }
      });
    });
  </script>
  {{ block.super }}
{% endblock %}
