{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags modeladmin_tags %}

{% block titletag %}{{ view.get_meta_title }}{% endblock %}

{% block extra_css %}
  {{ block.super }}
  <script src="https://cdn.tailwindcss.com"></script>
  {{ media.css }}
  <style>
    input[type=date], input[type=datetime-local], input[type=email], input[type=file], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], textarea {
      background-color: rgb(255 255 255 / 0.05);
    }
  </style>
{% endblock %}
{% block content %}
  {% block header %}
    {% include "wagtailadmin/shared/header_with_locale_selector.html" with title=view.get_page_title subtitle=view.get_page_subtitle icon=view.header_icon merged=1 %}
  {% endblock %}
  <form id="workshopForm" method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}

    <!-- This is the form content -->
    <div class="px-4 py-6 sm:p-8">
      <div class="border-b border-white/10 pb-12">
        <div class="mt-10">
          {% for field in form.visible_fields %}
            {% if field.widget_type == "select" %}
              <div class="mt-2">
                <label for="{{ field.auto_id }}" class="block text-sm/6 font-medium text-white">
                  {{ field.label }}
                  {% if field.errors %}
                    <span class="mt-2 text-sm text-red-500">{{ field.errors.as_text }}</span>
                  {% else %}
                    {% if field.field.required %}<span class="w-required-mark">*</span>{% endif %}
                  {% endif %}
                </label>
                <div class="mt-2">
                  <select id="{{ field.auto_id }}" name="{{ field.name }}" {% if field.field.required %}required{% endif %}
                          class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white/5 py-1.5 pl-3 pr-8 text-base text-white outline outline-1 -outline-offset-1 outline-white/10 *:bg-gray-800 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
                    {% for choice in field.field.choices %}
                      <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                  </select>
                </div>
                {% if field.help_text %}
                  <p class="mt-2 text-sm text-gray-500" id="{{ field.auto_id }}_helptext">{{ field.help_text|safe }}</p>
                {% endif %}
              </div>
            {% else %}
              {{ field.render }}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- This is the form footer -->
    {% block footer %}
      <footer class="footer">
        <ul>
          <li class="actions actions--primary footer__container">
            {% block form_actions %}
              {% fragment as default_action_item %}
                <button
                  type="submit"
                  class="button action-save button-longrunning w-w-full"
                  data-controller="w-progress"
                  data-action="w-progress#activate"
                  data-w-progress-active-value="{% trans 'Saving…' %}"
                >
                  {% icon name="spinner" %}
                  <em data-w-progress-target="label">{% trans 'Save' %}</em>
                </button>
              {% endfragment %}
              {% fragment as more_action_items %}
                {% block more_action_items %}{% endblock %}
              {% endfragment %}
              {% if more_action_items.strip %}
                {% dropdown_button button=default_action_item toggle_icon="arrow-up" %}
                  {{ more_action_items }}
                {% enddropdown_button %}
              {% else %}
                {{ default_action_item }}
              {% endif %}
            {% endblock %}
          </li>
        </ul>
      </footer>
    {% endblock %}
  </form>
  <script>
    function formatDateToISOString(date) {
      const year = date.getFullYear();
      const month = String(date.getMonth() + 1).padStart(2, '0'); // 月份从 0 开始，需加 1
      const day = String(date.getDate()).padStart(2, '0');
      const hours = String(date.getHours()).padStart(2, '0');
      const minutes = String(date.getMinutes()).padStart(2, '0');

      return `${year}-${month}-${day}T${hours}:${minutes}`;
    }

    $('#id_start_datetime').on('change', function () {
      if (!this.value) {
        return;
      }
      let start_datetime = new Date(this.value);
      this.value = formatDateToISOString(start_datetime);
    });
    $('#id_end_datetime').on('change', function () {
      if (!this.value) {
        return;
      }
      let end_datetime = new Date(this.value);
      this.value = formatDateToISOString(end_datetime);
    });
  </script>

{% endblock %}
