<div class="mt-2">
  <label for="{{ field.auto_id }}" class="block text-sm/6 font-medium text-white">
    {{ field.label }}
    {% if field.errors %}
      <span class="mt-2 text-sm text-red-500">{{ field.errors.as_text }}</span>
    {% else %}
      {% if field.field.required %}<span class="w-required-mark">*</span>{% endif %}
    {% endif %}
  </label>
  <div class="mt-2">
    <input type="{{ field.widget_type }}" name="{{ field.name }}" id="{{ field.auto_id }}" {% if field.field.required %}required{% endif %}
      {% if field.field.min_value != None %}
           min="{{ field.field.min_value }}"
      {% endif %}
      {% if field.field.max_value != None %}
           max="{{ field.field.max_value }}"
      {% endif %}
           class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
  </div>
  {% if field.help_text %}
    <p class="mt-2 text-sm text-gray-500" id="{{ field.auto_id }}_helptext">{{ field.help_text|safe }}</p>
  {% endif %}
</div>
